@import url("https://fonts.googleapis.com/css?family=Spectral+SC|Aleo|Athiti|Bai+Jamjuree|Cutive+Mono|Encode+Sans+Semi+Expanded|IBM+Plex+Serif|Jaldi|Kodchasan|Major+Mono+Display|Nunito+Sans|Poiret+One|Quattrocento+Sans|Vesper+Libre|Zilla+Slab+Highlight");
$colorGreen: #00a06c;
$colorGray: #37393b;
$fontCool: "Major Mono Display", monospace;
$fontParagraph: "Athiti", sans-serif;
$fontTitle: "Poiret One", cursive;