h3,h2{
    text-align: center;
    font-family: $fontCool;
    font-size: 1.6rem;
    font-weight: 900;
}
h4{
    font-family: $fontTitle;
    font-size: 1.6rem;
    font-weight: 600;
}
p{
    text-align: justify;
    line-height: 1.4rem;
    font-size: 1.3rem;
    font-family:$fontParagraph
}
.contentHeader{
    text-align: center;
}
.icons{
    text-align: center;
    img{
        width: 100%;
        height: auto;
    }
}
.box-sketch{
    img{
        width: 100%;
        height: auto;;
    }
}
.devs{
    text-align: center;
}