.myButton
{
  text-align: center;
  width: auto;
	position: relative;
	padding: 10px 40px;
  margin: 0px 10px 10px 0px;
  float: left;
	border-radius: 10px;
	font-family: $fontCool;
	font-size: 25px;
	color: #FFF;
  text-decoration: none;
  background-color: $colorGreen;
	border-bottom: 5px solid #067c56;
  text-shadow: 0px -2px #067c56;	
  transition: all 0.1s;
}