@import "./settings";
nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  text-align: end;
  font-family: $fontCool;
  background-color: $colorGray;
  a {
    color: white;
    font-weight: 900;
    display: block;
    line-height: 2em;
    text-decoration: none;
  }
  img {
    height: auto;
    width: 150%;
  }
}
@media only screen and (min-width: 480px) {
  nav {
    img {
      height: auto;
      width: 90%;
    }
  }
}
@media only screen and (min-width: 768px) {
  nav {
    img {
      height: auto;
      width: 100px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  nav {
    img {
      height: auto;
      width: 120px;
    }
  }
}

