@import "./settings";
@import "./myButton.scss";
@import "./navBar.scss";
@import "./form.scss";
@import "./postsList.scss";
@import "./footer.scss";
@import "./post.scss";
@import "./preloader.scss";
h1 {
  font-family: $fontCool;
}
h2{
  font-weight: 800;
  font-family: $fontTitle;
}


